<!-- <table class="table table-table-striped">
          <tr class="table-dark">
               <th>Image</th>
               <th>Nom</th>
               <th>Tel</th>
               <th>Email</th>
               <th>Adresse</th>
               <th>Cp</th>
               <th>Ville</th>
               <th>Action</th>
          </tr> -->
          
          
          <!-- <?php foreach($agences as $agence): ?> -->
          <!-- <?php foreach($agences as $agence): ?> -->

          
               <!-- <tr>
                    <td style="width: 20rem;">
                     <img src="img_A/<?= $agence['image'] ?>" class="img-fluid" alt="logo">
                    </td>
                    <td> <?= $agence['nom']; ?> </td>
                    <td> <?= $agence['tel']; ?> </td>
                    <td> <?= $agence['email']; ?> </td>
                    <td> <?= $agence['adresse']; ?> </td>
                    <td> <?= $agence['cp']; ?> </td>
                    <td> <?= $agence['ville']; ?> </td> -->
                
                    <!-- <td>
                         <a href="?action=update&id_agence=<?= $agence['id_agence']; ?>">UP</a>
                         <a href="?action=delete&id_agence=<?= $agence['id_agence']; ?>">Del</a>
                    </td>
               </tr> -->
          <!-- <?php endforeach; ?> -->
     <!-- <table>

     <form action="" method="post" class="container" enctype="multipart/form-data">
        <input type="hidden" name="id_agence" value="<?= $agenceUp['id_agence'] ?? ""; ?>">
          <label for="">Nom</label>
          <input type="text" name="nom" value="<?= $agenceUp['nom'] ?? ""; ?>"> <br>
          <label for="">Tel</label>
          <input type="text" name="tel" value="<?= $agenceUp['tel'] ?? ""; ?>"> <br>
          <label for="">Email</label>
          <input type="text" name="email" value="<?= $agenceUp['email'] ?? ""; ?>"> <br>
          <label for="">Adresse</label>
          <input type="text" name="adresse" value="<?= $agenceUp['adresse'] ?? ""; ?>"> <br>
          <label for="">Cp</label>
          <input type="text" name="cp" value="<?= $agenceUp['cp'] ?? ""; ?>"> <br>
          <label for="">Ville</label>
          <input type="text" name="ville" value="<?= $agenceUp['ville'] ?? ""; ?>"> <br>
          <label for="">Image</label>
          <input type="file" accept="img_A/*" name="image" value="" <?= $agenceUP['image'] ?? ""; ?> >
          <input type="submit">
     </form> -->