

<!-- <table class="table table-strepid">
          <tr class="table-dark">
                <th>Image</th>
               <th>Marque</th>
               <th>Modèle</th>
               <th>Prix Journalier</th>
               <th>Description</th>
               <th>Agence</th>
               <th>Action</th>
          </tr> -->
 
          <!-- <?php foreach($vehicules as $vehicule): ?> -->
          
               <!-- <tr>
                    <td style="width: 20rem;">
                     <img src="img_V/<?= $vehicule['image'] ?>" class="img-fluid" alt="logo">
                    </td>
                    <td> <?= $vehicule['marque']; ?> </td>
                    <td> <?= $vehicule['modele']; ?> </td>
                    <td> <?= $vehicule['prix_journalier']; ?> </td>
                    <td> <?= $vehicule['description']; ?> </td>
                    <td> <?= $vehicule['agence']; ?> </td>
                
                    <td>
                        <a href="?action=update&id_vehicule=<?= $vehicule['id_vehicule']; ?>">UP</a>
                        <a href="?action=delete&id_vehicule=<?= $vehicule['id_vehicule']; ?>">Del</a>
                    </td>
               </tr> -->
          <!-- <?php endforeach; ?> -->
   <!-- <table>

     <form action="" method="post" class="container" enctype="multipart/form-data">
            <input type="hidden" name="id_vehicule" value="<?= $vehiculeUp['id_vehicule'] ?? ""; ?>">
            <label for="">Agence</label>
            <select type="text" name="agence" > -->
                <!-- <?php foreach($agences as $agence){?> -->
                 <!-- <option value="<?= $agence['nom'] ?? ""; ?>"><?= $agence['nom'] ?? ""; ?></option> -->
                <!-- <?php } ?>      -->
            <!-- </select> <br>
            <label for="">Marque</label>
            <input type="text" name="marque" value="<?= $vehiculeUp['marque'] ?? ""; ?>"> <br>
            <label for="">Modèle</label>
            <input type="text" name="modele" value="<?= $vehiculeUp['modele'] ?? ""; ?>"> <br>
            <label for="">Prix Journalier</label>
            <input type="text" name="prix_journalier" value="<?= $vehiculeUp['prix_journalier'] ?? ""; ?>"> <br>
            <label for="">Description</label>
            <input type="text" name="description" value="<?= $vehiculeUp['description'] ?? ""; ?>"> <br>
            <label for="">Image</label>
            <input type="file" accept="img_V/*" name="image" value="" <?= $vehiculeUp['image'] ?? ""; ?> >
            <input type="submit">
     </form> -->